<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto"> 
        <div class="row">
            <!-- left div -->
            <div class="col-md-6 col-12 main_header_left">
            <p>Welcome To Registration Form of Mern Developer</p>
            <h1>  If You Are New Here  Register for Best The Developer Course</h1>
            <a class="btn btn-warning" href="/register" role="button">register Now</a>
            </div>
            
             <!-- right div -->
            <div class="col-md-6 col-12 main_header_right">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="images\web-developer-portfolio.webp" alt="First slide">
                      
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </div>
   </div>
    
</body>
</html>